@page "/"

<h1 class="page-title">Welcome to Pod Members</h1>
<br />
<h3>Using this application, you can view details of people peresent in our POD.</h3>
<h3>You can see where they are what possition and SME skills they have!</h3>